<div class="center">

      <div class="starter-template">
        <blockquote>     
        <h2>'There are those who give with joy, and that joy is their reward'</h2>
        <small>- Khalil Gibran</small>
        </blockquote>

        <iframe src="//fast.wistia.net/embed/iframe/7lvtb3yb6v" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="480" height="270"></iframe>


        <p class="lead">Payyola is a global online employee recognition platform. Where companies, organizations and individuals can reward freelance professionals around the world with gift vouchers, music,<br> <h2><strong>To create happy workers</strong></h2><br>

          <div class="center"><h2>Ideal for</h2></div>

        <ul class="list-group">
        <li class="list-group-item list-group-item-success"><h3>• Large multinational companies that employee staff in remote workers, who do call center, customer service.</h3></li>
        <li class="list-group-item list-group-item-info"><h3><strong>• Small startups between 5-10 people</h3></li>
        <li class="list-group-item list-group-item-warning"><h3>• Single founder entrepreneurs  – Who outsource work. </h3></li>
        <li class="list-group-item list-group-item-danger"><h3><strong>• Organizations using fivver.com, elance.com , Odesk.com etc</h3></li>
        <li class="list-group-item list-group-item-success"><h3>• Any business who want an easy way to give rewards to their staff </h3></li>
        </ul>

      </div>
</div>

