
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Reward //
                    <small>Your Worker Today</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 portfolio-item">
              
                    <img class="img-responsive" <%= image_tag("https://dl.dropboxusercontent.com/s/yirpgmb75s8dc6l/coffee.jpg") %>
               
                <h3><a href="#project-link">1. What is RewardWorkers</a>
                </h3>
                <p>A global online recognition platform through which individuals and organizations can reward their freelance workers.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" <%= image_tag("https://dl.dropboxusercontent.com/s/pj8kr0g5u9alp4d/tea1.jpg") %></a>
                 
                <h3><a href="#project-link">2. What we do</a>
                </h3>
                <p>We offer any businesses or startups an opportunity to thank their freelancers in kind rather than in just words</p>
                
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" <%= image_tag("https://dl.dropboxusercontent.com/s/dtk2i9o99wp4cpb/tea.jpg") %></a>
                
                <h3><a href="#project-link">3. The Goal</a>
                </h3>
                <p>You can get something as simple as <b>gift vouchers, music downloads, spa treatments or even a Frappuccino!</b>  </p>
            </div>

     			
     
  		  
		
  
       


